<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>${title}</title>
</head>
<body>
  ${header}
  <main>
    <section>
      <header>
        <h1>${title}</h1>
      </header>
      <dl>
        ${features.map(f => `
          <dt>${f.dt}</dt>
          <dd>${f.dd}</dd>
        `).join('')}
      </dl>
    </section>
  </main>
  ${footer}
</body>
</html>